*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
.todo-app{ /* box that outlines the main interface that displays the to-do list */
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    /* the auto makes the frame horizontall centered, as it automatically adjust for the size margins */
    padding: 40px 30px 70px; 
    /* top padding, side padding, bottom padding */
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edf0ef;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
/* the input style makes the text looks nice, without borders, seems integrated to the background */
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    background: #ff5945;
    padding: 10px 30px;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}